<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>
    <p th:text="'List Of owners'">List of Owners</p>
    <table>
        <head>
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
            </tr>
        </head>
        <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner.getId()}">0</td>
                <td th:text="${owner.getFirstName()}">NULL</td>
                <td th:text="${owner.getLastName()}">NULL</td>
            </tr>
        </tbody>
    </table>
</body>
</html>